<_template location="pageFrame.tmpl">
            <p>This paragraph should be the first item in body.</p>
            <_template location="template2.tmpl">
                <p>The paragraph below should be a greeting.</p>
                <_extension location="hello" />
                <p>The paragraph above should be a greeting.</p>
            </_template>
            <p>This paragraph should be the last item in body.</p>
</_template>
