<_template location="pageFrame.tmpl">
            <p>This paragraph should be the first item in body.</p>
            <_template location="test1.tmpl">
                <p>These paragraphs should be between the head and tail text of test1.</p>
                <p>These paragraphs should be between the head and tail text of test1.</p>
            </_template>
            <p>This paragraph should be the last item in body.</p>
</_template>
